[submodule "trace_jobs_ingest"]
	path = trace_jobs_ingest
	url = git@github.com:4d30/trace_jobs_ingest.git
[submodule "trace_jobs_index"]
	path = trace_jobs_index
	url = git@github.com:4d30/trace_jobs_index.git
[submodule "trace_jobs_api"]
	path = trace_jobs_api
	url = git@github.com:4d30/trace_jobs_api.git
